@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-size: 18px;
}

body {
  background-color: #0a0a0a;
  color: #fff;
  line-height: 1.6;
}

@media (max-width: 640px) {
  html {
    font-size: 16px;
  }
}
